@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400&family=Hubballi&family=Poppins&display=swap");
:root {
  --wwidth: calc(100vw/9);
  --bgColor: #023047;
  --colorHead: #219ebc;
  --boxColor2: #ffd60a;
  --boxColor2_dark: #ffc300;
  --boxColor2_search: #b5e48c;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bgColor);
  color: #eee;
  font-family: Poppins;
  padding-bottom: 5rem;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0.7rem;
  right: 0.7rem;
  z-index: 100;
}

#search #searchsvgs {
  position: relative;
  margin-left: 0.5rem;
}

#search #searchIcon, #search #crossIcon {
  background-color: #ededed;
  padding: 0.2rem;
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#search #searchIcon {
  z-index: 100;
}

#search #crossIcon {
  z-index: 90;
}

#search #searchText {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#arch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  bottom: 0.7rem;
  left: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

#arch #showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cadetblue;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#arch #archIcon {
  background-color: #ededed;
  padding: 0.2rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}

#arch .dropup {
  position: relative;
  display: inline-block;
}

#arch .dropup:hover .dropup-content {
  display: block;
}

#arch .dropup-content {
  display: none;
  background-color: #f1f1f1;
  max-height: 300px;
  overflow-y: auto;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#arch .dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#arch .dropup-content a:hover {
  background-color: #ddd;
}

#syscalls #content1, #syscalls #content2 {
  margin: 0;
  padding: 0;
}

#syscalls #content1 .call p {
  color: var(--boxColor2_search);
  border-color: var(--boxColor2_search);
}

#syscalls .head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--wwidth))[8];
      grid-template-columns: repeat(8, var(--wwidth));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--bgColor);
  margin: 0.5rem 0 1.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  font-family: 'Fredoka', sans-serif;
}

#syscalls .head p {
  overflow-wrap: break-word;
  text-align: center;
  background-color: var(--colorHead);
  border-radius: 0.2rem;
  padding: 1rem 0;
}

#syscalls .call {
  margin: 0.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--wwidth))[8];
      grid-template-columns: repeat(8, var(--wwidth));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#syscalls .call p {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: var(--boxColor2);
  color: var(--boxColor2);
  overflow-wrap: break-word;
  text-align: center;
  padding: 1rem 0;
}

#syscalls .call p:hover {
  border: 0;
  background-color: #013a63;
  border-radius: 0.2rem;
  color: var(--boxColor2_dark);
}

#def #architecture {
  font-family: 'Hubballi', cursive;
  font-size: 1.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin: 1rem;
}
/*# sourceMappingURL=index.css.map */