:root{
    --wwidth : calc(100vw/9);
    --bgColor : rgba(0, 164, 206, 1)
}

html,body{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bgColor);
    color: #eee;
    height: 5000px;
}
#search{
    display: flex;
    // background-color: hsla(0, 0%, 93%,1);
    width: fit-content;
    align-items: center;
    position: fixed;
    bottom: 0.7rem;
    right: 0.7rem;
    z-index: 100;
    #searchsvgs{
        position: relative;
        margin-left: 0.5rem;
        // &:hover{
        //     #crossIcon{
        //         z-index: 100;
        //     }
        //     #searchIcon{
        //         z-index: 90;
        //     }
        // }
    }
    #searchIcon,#crossIcon{
        background-color:hsla(0, 0%, 93%,1);
        padding: 0.2rem;
        border-radius:0.6rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    #searchIcon{
        z-index: 100;
    }
    #crossIcon{
        z-index: 90;
    }
    #searchText{
        // display: none;
        opacity: 0;
        transition: all 1s;
    }
}
#arch{
    width: fit-content;
    position: fixed;
    bottom: 0.7rem;
    left: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    #showing{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: cadetblue;
        transition: all 1s;
    }
    #archIcon{
        background-color:hsla(0, 0%, 93%,1);
        padding: 0.2rem;
        border-radius:50%;
        margin-left: 0.5rem ;
    }
    .dropup {
        position: relative;
        display: inline-block;
        &:hover{
            .dropup-content {
                display: block;
            }
            #archIcon{
                // background-color: #3e8e41;
            } 
        }
    }
  
  .dropup-content {
    display: none;
    background-color: #f1f1f1;
    height: 300px;
    overflow-y: scroll;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        // text-align: center;
        &:hover{
            background-color: #ddd;
        }
      }
  }
  
}
#syscalls{
    #content1,#content2{
        margin: 0;
        padding: 0;
    }
    #content1{
        background-color: darkkhaki;
    }
    .head{
        // display: flex;
        display: grid;
        grid-template-columns: repeat(8,var(--wwidth));
        // justify-content: space-around;
        justify-content: space-evenly;
        // border: 1px solid #eee;
        background-color: var(--bgColor);
        margin: 0.5rem 0 1.5rem 0;
        position: sticky;
        top: 0;
        width: 100%;
        p{
            // flex: 0 0 auto;
            // width: var(--wwidth);
            overflow-wrap: break-word;
            // height: 100%;
            // align-self: center;
            text-align: center;
            // border: 1px solid #eee;
            background-color: rgb(117, 175, 226);
            padding: 1rem 0;
        }
    }
    .call{
        // display: flex;
        // justify-content: space-around;
        margin: 0.5rem 0;
        display: grid;
        grid-template-columns: repeat(8,var(--wwidth));
        justify-content: space-evenly;
        // border: 1px solid #eee;
        // align-content: center;
        p{
            // flex: 0 0 auto;
            // width: 100%;
            // width: var(--wwidth);
            // align-self: center;
            // margin-left:auto;
            // margin-right: auto;
            // width: fit-content;
            background-color: rgb(134, 184, 230);
            overflow-wrap: break-word;
            text-align: center;
            padding: 1rem 0;
            &:hover{
                background-color: rgb(95, 164, 228);
            }
        }
    }
}

